node_modules
dist
website/build
yarn-error.log

# iOS / Xcode
*.xcworkspace
**/Pods/
**/xcuserdata/
build/
*.lock

android/third-party/external/

# Android / Intellij
local.properties
*.iml
.gradle/
.idea
.externalNativeBuild

# Mac OS X
*.DS_Store
