node_modules
dist
website/build
yarn-error.log

# iOS / Xcode
*.xcworkspace
**/Pods/
**/xcuserdata/
build/
Podfile.lock

android/third-party/external/

# Android / Intellij
local.properties
*.iml
.gradle/
.idea
.externalNativeBuild
.project
.settings
**/.classpath
android/*/bin/**/*.class
libs/*/bin/**/*.class
.cxx

# Mac OS X
*.DS_Store
