{
  "compilerOptions": {
    "target": "ES2017",
    "module": "ES6",
    "jsx": "react",
    "sourceMap": true,
    "noEmit": true,
    "strict": true,
    "moduleResolution": "node",
    "esModuleInterop": true,
    "forceConsistentCasingInFileNames": true
  },
  "files": ["src/index.tsx"]
}
