<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Facebook, Inc. and its affiliates.
  ~
  ~ This source code is licensed under the MIT license found in the LICENSE
  ~ file in the root directory of this source tree.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facebook.flipper.sample.tutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".TutorialApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>