name: Publish Pods
# This action runs on 'git push tag v*'
on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  publish_flipper_pod:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3.5.3

      - name: Install Dependences
        run: pod repo update

      - name: Pod Version
        run: pod --version

      - name: Update Flipper version
        run: ./scripts/update-pod-versions.sh ./ ./Flipper.podspec

      - name: Push Flipper
        run: ./scripts/publish-flipper-pods.sh ./ Flipper
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}

  publish_flipperkit_pod:
    needs: publish_flipper_pod
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3.5.3

      - name: Install Dependences
        run: pod repo update

      - name: Pod Version
        run: pod --version

      - name: Update FlipperKit version
        run: ./scripts/update-pod-versions.sh ./ ./FlipperKit.podspec

      - name: Push FlipperKit
        run: ./scripts/publish-flipper-pods.sh ./ FlipperKit
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}

  create_pr:
    needs: publish_flipperkit_pod
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3.5.3

      - name: Update Flipper's Podspec
        run: ./scripts/update-pod-versions.sh ./ ./Flipper.podspec

      - name: Update FlipperKit's Podspec
        run: ./scripts/update-pod-versions.sh ./ ./FlipperKit.podspec

      - name: Update Tutorial's Podfile
        run: ./scripts/update-pod-versions.sh ./ ./iOS/Tutorial/Podfile

      - name: Update Getting Started
        run: ./scripts/update-pod-versions.sh ./ ./docs/getting-started/ios-native.mdx

      - name: Update RN getting started guide
        run: ./scripts/update-pod-versions.sh ./ ./docs/getting-started/react-native-ios.mdx

      - name: Update ReactNativeFlipperExample
        run: ./scripts/update-pod-versions.sh ./ ./react-native/ReactNativeFlipperExample/ios/Podfile

      - name: Install Dependencies
        run: pod repo update

      - name: Pod Version
        run: pod --version

      - name: Update Sample's Podfile.lock
        run: |
          cd iOS/Sample/
          pod update
          ls

      - name: Update SampleSwift's Podfile.lock
        run: |
          cd iOS/SampleSwift/
          pod update
          ls

      - name: Update Tutorial's Podfile.lock
        run: |
          cd iOS/Tutorial/
          # Retrying an update, as Flipper and FlipperKit pod may take time to get updated on CocoaPods. Putting this hack unless we have cocoapods 1.10. More information related to the bug https://github.com/CocoaPods/CocoaPods/issues/9502#issuecomment-579486258
          for i in {1..20}; do pod update && break || sleep 30; done
          ls

      - name: Update ReactNativeFlipperExample Podfile.lock
        run: |
          cd react-native/ReactNativeFlipperExample
          yarn install
          cd ios
          pod update --repo-update
          ls

      # Followed this https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#creating-pull-requests-on-tag-push
      - name: Create a temporary tag branch
        run: |
          git config --global user.name 'GitHub'
          git config --global user.email 'noreply@github.com'
          git checkout -b temp-${GITHUB_REF:10}
          git push --set-upstream origin temp-${GITHUB_REF:10}

      - name: Git status
        run: |
          git status

      - name: Git diff
        run: |
          git diff

      - name: Git branch
        run: |
          git branch

      - name: Create PR to Update Podfile.lock
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          title: "Automated: Update Podfile.lock"
          body: |
            This is an automated PR to update the Podfile.lock.
            - Make sure that the Podfile.lock contains latest FlipperKit and Flipper pod versions.
            - Also make sure that all the dependencies are updated to the latest one.
            - This is auto-generated by [create-pull-request](https://github.com/peter-evans/create-pull-request)
          base: "main"
          branch-suffix: short-commit-hash
          labels: automated pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete tag branch
        run: |
          git push --delete origin temp-${GITHUB_REF:10}
