lib/
dist/
node_modules/
*.tsbuildinfo
/static/idb-applications
/static/themes/
/static/defaultPlugins/
/static/manifest.json
/coverage
.env
tsc-error.log
/flipper-server/static/
/static/flipper-server-log*
/static/.audit.json
